:root {
  /** Base colors */
--clr-dark-a0: #000000;
--clr-light-a0: #ffffff;

/** Dark theme primary colors */
--clr-primary-a0: #e59f4b;
--clr-primary-a10: #eaa95f;
--clr-primary-a20: #eeb473;
--clr-primary-a30: #f2be87;
--clr-primary-a40: #f6c99a;
--clr-primary-a50: #f9d4ae;

/** Dark theme surface colors */
--clr-surface-a0: #121212;
--clr-surface-a10: #282828;
--clr-surface-a20: #3f3f3f;
--clr-surface-a30: #575757;
--clr-surface-a40: #717171;
--clr-surface-a50: #8b8b8b;

/** Dark theme tonal surface colors */
--clr-surface-tonal-a0: #251e18;
--clr-surface-tonal-a10: #3a332d;
--clr-surface-tonal-a20: #4f4944;
--clr-surface-tonal-a30: #66605b;
--clr-surface-tonal-a40: #7e7975;
--clr-surface-tonal-a50: #96928f;  
}


 /** Examples */ 
/* .bg-primary {
 color: var(--clr-primary-a50); 
 background-color: var(--clr-surface-a0); 
}

h2 {
  font-family: DM Sans, Roboto, -apple-system, Segoe UI, sans-serif;
  font-size: 300;
  letter-spacing: 0;
  color: var(--clr-light-a0);
  background-color: var(--clr-surface-a0);
}

body {
  background-color: var(--clr-surface-a0);
} */