/* ------------- ROOT VARIABLES ------------- */
:root {
  /* Colors */
  --blue: #80bfff;
  --red: #e67878;
  --green: #9fd19b;
  --grey: #d9d9d9;
  --beige: #f7f7ee;
  --darkbeige: #e5e5d3;

  /* Font Sizes */
  --xsmall: 2rem;
  --small: 3rem;
  --med: 5rem;
  --large: 10rem;
}

/* ------------- GLOBAL STYLES ------------- */
html {
  height: 100%;
  width: 100%;
  background-color: var(--beige);
  font-size: 16px; /* Base font size */
}

body {
  margin: 0;
  padding: 0;
}

/* ------------- TEXT STYLES ------------- */

/* Fonts */
.header-font {
  font-family: "Belanosima", sans-serif;
  font-weight: bold;
}

.subheader-font {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-weight: bold;
}

.paragraph-font {
  font-family: "Nunito", sans-serif;
}

/* Text Colors */
.beige-font {
  color: var(--beige);
}

.blue-font {
  color: var(--blue);
}

.grey-font {
  color: var(--grey);
}

.red-font {
  color: var(--red);
}

.green-font {
  color: var(--green);
}

/* Font Sizes */
.extra-big-font {
  font-size: 3rem;
}

.big-font {
  font-size: 2.5rem;
}

.less-big-font {
  font-size: 2rem;
}

.medium-font {
  font-size: 1.875rem;
}

.medium-small-font {
  font-size: 1.7rem;
}

.little-font {
  font-size: 1.563rem;
}

/* ------------- FORMATTING LAYOUT ------------- */

/* Flexbox Layouts */
.nextdoor-parent {
  display: flex;
  justify-content: space-between;
}

.nextdoor-child {
  flex: 1;
}

.centered {
  margin: auto;
  align-items: center;
}

.centered-text {
  text-align: center;
}
/* ------------- UNIVERSAL STYLES ------------- */
hr {
  border-top: 4px dashed var(--red);
  border-bottom: 0;
}

main {
  margin-inline: 2%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ------------- HEADER STYLES ------------- */
header {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin-left: var(--small);
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background-color: var(--blue);
  border: none;
  cursor: pointer;
  margin-right: var(--small);
}

.dropdown img {
  height: var(--small);
}

.dropdown-content {
  height: 100vh;
  display: none;
  position: absolute;
  background-color: var(--grey);
  right: 0;
  z-index: 1;
}

.nav-link {
  position: relative;
  display: block;
}

.dropdown-content div {
  height: 100%;
  margin-left: var(--small);
  padding: 1rem 90px 0 0;
  border-left: 0.3rem solid var(--green); /* green line */
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}

/* ------------- FILTERS STYLES ------------- */
#filters {
  padding: 25px 20px 10px;
}

#player-filter {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 37px;
  border-radius: 20px;
  vertical-align: text-top;
  background: var(--darkbeige);
}

#player-filter::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 30px;
  border-radius: 20px;
  background: var(--green);
}

/* ------------- GAME GRID STYLES ------------- */
.grid-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  justify-content: center;
}

.game-card {
  padding: 10px;
  max-width: 300px;
  max-height: 300px;
}

.game-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* ------------- SETUP STYLES ------------- */
#setup-page {
  margin-top: 60px;
}
.instruction {
  gap: 100px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--beige);
  border: px solid var(--darkbeige);
}

.instruction img {
  max-width: 500px;
  max-height: 600px;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: 5px solid var(--darkbeige);
}

.instruction p {
  font-weight: bold;
  text-align: left;
  margin: 0;
}

/* ------------- ABOUT STYLES ------------- */


#about-controller {
  margin: 6%;
}

#about-controller img {
  width: 100%;
  height: auto;
}

/* ------------- CONTACT STYLES ------------- */


.contact-form {
  max-width: 600px;
  margin: 70px auto;
  padding: 20px;
  background-color: var(--beige);
  border-radius: 10px;
  border: 5px solid var(--darkbeige);
}

.contact-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form hr {
  margin: 20px 0;
}

.contact-form .success-message {
  text-align: center;
  color: var(--green);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  color: var(--blue);
}

.input-field {
  background-color: var(--darkbeige);
  margin-top: 5px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--grey);
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  outline: none;
  border-color: var(--blue);
}

.short-answer {
  width: 70%;
}

.long-answer {
  width: 97%;
  height: 150px;
  resize: none;
}

.contact-form button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--beige);
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: var(--blue);
}


/* ------------- GAME PAGE ------------- */

#game-page {
  margin: 100px auto;
  padding-top: 50px ;
  max-width: 900px;
  height: 900px;
  background-color: var(--beige);
  border-radius: 10px;
  border: 5px solid var(--darkbeige);
}

#back-arrow {
  position: absolute;
  top: 140px;
  left: 40px;
  cursor: pointer;
}

#back-arrow img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

#back-arrow img:hover {
  transform: scale(1.1);
}

#game-bg-deco {
  position: absolute;
  top: 500px;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: var(--grey);
  z-index: -1;
}

#game-frame {
  margin: 40px auto;
  width: 620px;
  height: 620px;
  border: 0px;
}

/* ------------- ERROR STYLES ------------- */
#error-screen {
  text-align: center;
  padding-inline: 20%;
}

/* ------------- MOBILE RESPONSIVE ------------- */

@media (max-width: 768px) {
  .instruction {
    flex-direction: column;
    padding: var(--small);
    gap: var(--small);
  }

  .instruction img {
    width: 100%;
    height: auto;
  }

  .instruction p {
    text-align: center;
    font-size: 30px;
  }

  #about-controller h1 {
    text-align: center;
    font-size: 20px;
  }

  #about-controller {
    flex-direction: column;
    margin: var(--small);
    gap: var(--small);
  }

  #about-controller img {
    width: 100%;
    height: auto;
  }

  #about-controller p {
    text-align: center;
    font-size: var(--medium-small-font);
  }
}
